:root {
  --blur: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
}

.main__sign-up {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 5fr 6fr;
}

.sign-up__photo {
  background-image: url(./images/gino-xZdwU-Yiqzc-unsplash.jpg);
  background-size: cover;
  background-position: 50%;

  position: relative;
}

.sign-up__photo::before {
  content: "";
  background-image: linear-gradient(
    rgb(255 255 255 / 0),
    rgb(255 255 255 / 0),
    rgb(255 255 255 / 0),
    rgb(255 255 255 / 0),
    rgb(0 0 0 / 0.7)
  );
  position: absolute;
  width: 100%;
  height: 100%;
}

.photo__credits a,
.photo__credits {
  text-decoration: none;
  font-style: none;
  color: white;
  font-weight: 700;
}

.photo__credits {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding-bottom: 1em;
}

.sign-up__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;

  height: 100%;
  width: 100%;
  padding: 1em;
}

.section__texts {
  width: min(100%, 75ch);
  display: grid;
  gap: 1em;

  font-size: 1.2em;
}

#form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(200px, 50%), 1fr));
}

.form__div {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.form__div > label {
  font-size: 0.8em;
}
